[project]
	description = Repository that will hold scripts that will build pipelines for OpenStack-Helm CI
[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	read = group cLCP
	read = group user/slfletch
	create = group cLCP-release
	create = group user/slfletch
	abandon = group deleteme
	label-Code-Review = -2..+2 group deleteme
	label-Verified = -1..+1 group deleteme
[access "refs/tags/*"]
	createSignedTag = group cLCP-release
[receive]
	requireChangeId = true
