[project]
	description = Repository that will hold scripts that will build pipelines for OpenStack-Helm CI
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/slfletch
[access "refs/for/refs/*"]
	read = group user/slfletch
	push = group user/slfletch
	label-Code-Review = -2..+2 group user/slfletch
	label-Verified = -1..+1 group user/slfletch
	rebase = group user/slfletch
	removeReviewer = group user/slfletch
	submit = group user/slfletch
[access "refs/heads/*"]
	read = group user/slfletch
	create = group user/slfletch
	push = +force group user/slfletch
	pushMerge = group user/slfletch
[access "refs/tags/*"]
	push = group user/slfletch
	push = +force group user/slfletch
[receive]
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
